{% extends "base.html" %}

{% block content %}
  <h1>Products</h1>
    <form method="get">
      <label for="filter_type">Filter by:</label>
      <select name="filter_type" id="filter_type">
        <option value="">None</option>
        <option value="name">Name</option>
        <option value="price">Price</option>
      </select>
      <label for="sort_order">Sort order:</label>
      <select name="sort_order" id="sort_order">
        <option value="ascending">Ascending</option>
        <option value="descending">Descending</option>
      </select>
      <button type="submit">Filter</button>
    </form>
  {% if product_list %}
    <ul>
      {% for product in product_list %}
      <li>
        <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
        ({{product.price}})
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no products in the store.</p>
  {% endif %}
{% endblock %}
