{% extends "base.html" %}

{% block content %}
  <h1>Order List</h1>
  {% if order_list %}
    <ul>
      {% for order in order_list %}
        <li>
          Order: {{ order.id }} - Client: {{ order.client }}
          <ul>
            {% for item in order.items.all %}
              <li>
                <a>{{ item.get_cost }}</a>
                <a>{{ item.quantity }}x</a>
                <a>{{ item.product.title }}x</a>
              </li>
            {% empty %}
              <li>No products.</li>
            {% endfor %}
          </ul>
{#          <a style="font-weight: bold">Total: ${{ order.get_total_cost }}</a>#}
        </li>
      {% empty %}
        <li>No orders found.</li>
      {% endfor %}
    </ul>


{#    <a style="font-weight: bold">Total: ${{ total_cost }}</a>#}
{#    <a style="font-weight: bold">Average: ${{ average_cost }}</a>#}
{#    <a style="font-weight: bold">Mode: ${{ mode_cost }}</a>#}
{#    <a style="font-weight: bold">Most Common: ${{ most_common_item_name }}</a>#}

  {% else %}
    <p>There are no orders.</p>
  {% endif %}
{% endblock %}
